<!--NAVBAR-->
<div class="container">
    <nav class="navbar fixed-top main-nav navbar-expand-lg navbar-light backg">
        <a class="navbar-brand" href="#">
            <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/logo.PNG?raw=true" width="80" height="30" alt="">
        </a>
        <a routerLink="/dashboard">Dahboard</a>
        <a routerLink="/films">Movies</a>
        <a routerLink="/films/add">Add Movies</a>
        <a><input placeholder="search" [(ngModel)]="searchText" autocomplete="off" type="text" aria-describedby="inputGroup-sizing-default"></a>


    </nav>

</div>
<!--NAVBAR-->

<div style="margin-top:10%;" class="container">
    <div *ngFor="let a of films | searchFilm:searchText" (click)="a.showMore = !a.showMore" style="margin-bottom: 30px;">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-stretch ">
                <img class="responsive" [src]="a.coverUrl ">
            </div>
            <div class="col-lg-6 d-flex align-items-stretch">
                <div class="row ">
                    <div class="col-12 ">
                        <div> {{ a.title }}</div>
                        <div>Voto del pubblico: {{ a.stars }}</div>
                        <div>Durata del film: {{ a.duration }}</div>
                        <div class="row ">
                            <div class="col-12 " *ngIf="a.showMore ">
                                <!--<div>Attori: {{ getCastList(a.cast) }}</div>-->
                                <div> Anno: {{ a.releaseYear }}</div>
                                <div>Genere: {{ getGenreList(a.genres) }}</div>
                                <div>Tags: {{ a.tags }}</div>
                                <div>Attori: {{ getCastList(a.cast) }}</div>
                                <div>
                                    <button type="button" class="button" (click)="selectThisFilm(a)" routerLink="/films/edit">Modifica</button>
                                </div>
                                <div class="row ">
                                    <div class="col-12 ">
                                        <div>
                                            <!--<img [src]="getCastList(a.cast.imgUrl)">-->
                                            <!--sistemare-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>