.main-nav {
    grid-area: mn;
    padding: 0 30px 0 20px;
}

.main-nav a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.main-nav a:hover {
    color: grey;
}

.margin_left {
    margin-left: 10px;
}

.margin_right {
    margin-right: 10px;
}

.margin_top {
    margin-top: 90px;
}

input {
    outline: 0 !important;
    border-width: 0 0 1px 0 !important;
    border-color: #eee !important;
    margin: 0 auto;
}

input,
button,
select {
    padding: 10px 3%;
    background: transparent;
    font-size: 15px;
    width: 300px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #eee;
    position: relative;
    color: #eee;
    margin-bottom: 15px;
}

::-webkit-input-placeholder {
    color: #ddd !important;
    font-family: FontAwesome;
    font-size: 16px;
}

.button {
    width: 225px;
    height: 40px;
    margin-top: 10px;
    background: transparent;
    text-align: center;
    cursor: pointer;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 1s ease;
}

.button:hover {
    background: #D50000;
    border: none;
    transition: all 1.5s ease;
}